<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">

  <servlet>
    <servlet-name>GestionTestJDBC</servlet-name>
    <servlet-class>com.mobilite.servlet.GestionTestJDBC</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>TestConnectionServlet </servlet-name>
    <servlet-class>com.mobilite.servlet.TestConnectionServlet </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestConnectionServlet </servlet-name>
    <url-pattern>/MOBIL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionTestJDBC</servlet-name>
    <url-pattern>/INPT</url-pattern>
  </servlet-mapping>

</web-app>